@import 'normalize.css';
@import url('https://fonts.googleapis.com/css2?family=Indie+Flower&display=swap');

:root {
  --primary-color: #80b1ec;
  --accent-yellow-color: #ffd063;
  --accent-red-color: #ff0000;
  --accept-color: #6feda0;
  --light-color: #ffff;
  --text-color: #666;
  --timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  --background-color: #f8f8ff;
}

html:focus-within {
  scroll-behavior: smooth;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

h1,
h2,
h3,
h4,
p,
figure,
blockquote,
dl,
dd {
  margin: 0;
}

a {
  text-decoration: none;
}

ul,
li,
ol {
  padding: 0;
  margin: 0;
  list-style: none;
}

img {
  max-width: 100%;
  height: auto;
}

body {
  display: block;
  margin: 0;
  font: 25px/1.5 'Indie Flower', cursive;
}
