@import 'normalize.css';
@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');

:root {
  --primary-color: #d59bf6;
  --timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  --background-color: #f8f8ff;
}

html:focus-within {
  scroll-behavior: smooth;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

h1,
h2,
h3,
h4,
p,
figure,
blockquote,
dl,
dd {
  margin: 0;
}

a {
  text-decoration: none;
}

ul,
li {
  padding: 0;
  margin: 0;
  list-style: none;
}

img {
  max-width: 100%;
  height: auto;
}

body {
  display: block;
  margin: 0;
  font-size: 25px;
  font: 15px/1.5 'Press Start 2P', system-ui;
}
